footer.footer
    .container.footer__inner
        .footer__main
            +logo()
            p ул. Профессора Поздеева, 13, к.Г,<br>Пермь, Пермский край, 614013<br>Все права защищены
        nav.footer__nav
            ul
                li Ссылки
                li 
                    a(href="#")  Овероны
                li 
                    a(href="#")  Соц. сети
                li 
                    a(href="#")  Счетчики
                li 
                    a(href="#")  Контакты
            ul
                li Компания
                li 
                    a(href="#")  Условия использования
                li 
                    a(href="#")  Перс. данные
                li 
                    a(href="#")  Конаткты
            ul
                li Контакты
                li 
                    a(href="#")  ул. Профессора<br>Поздеева, 13, к.Г, Пермь
                li 
                    a(href="#")  +7 (342) 2-198-520
                li 
                    a(href="#")  info@pstu.ru

    .footer__copyright
        p © 2023 GPT-3. Все права защищены.