.register-block.container
    .register-block__inner
        .register-block__info 
            p Запросите ранний доступ
            h3 Зарегистрируйтесь и начните исследовать<br>безграничные возможности.
        +btn({
            text: 'Начать'
        }).btn.btn--dark