include ../blocks/mixins/svg/svg.pug
include ../blocks/mixins/button/button.pug
include ../blocks/mixins/modal/modal.pug
include ../blocks/mixins/picture/picture.pug
include ../blocks/mixins/logo/logo.pug
include ../blocks/mixins/socials/socials.pug
include ../blocks/mixins/video/video.pug
include ../blocks/mixins/select/select.pug
include ../blocks/mixins/crumbs/crumbs.pug
include ../blocks/mixins/people-item/people-item.pug
include ../blocks/mixins/blog-item/blog-item.pug
