.app-block
    .app-block__hero 
        img(src="../../../assets/img/app-hero.png", alt="app")
    .app-block__info 
        a(href="#") Запроси ранний доступ
        h2 Превосходя все<br>ожидания
        p Однако кровать для помощи в путешествии неприятна. Не мысли все осуществляют благословение. Снисхождение ко всему, радость, изменение бурной привязанности. Вечеринку мы лет на заказ разрешили.
        a(href="#") Запросить ранний доступ