.big-card
    .big-card__light-left 
        include ../../../assets/img/svg/light/card-left.svg
    .big-card__title 
        h3 Что такое GPT-3
        p Мы так мнение друзей мне сообщаем как восторг. Вся передняя часть тарелки слышна ох как надо. Его неполноценное и неубедительное место жительства принадлежит ему. Соединение сделало невозможным собственное шумное жилье. На свадьбе светлость Ан настоял на такой человечности. Дружелюбный холостяцкий вход.
    .big-card__main 
        h2 Возможности Превосходят<br>Ваше Воображение
        a(href="#") Исследовать библиотеку 
    ul.big-card__list
        li
            h3 Чатботы
            p Мы так мнение друзей мне сообщаем как восторг. Вся передняя часть тарелки слышна ох как надо.
        li
            h3 База Знаний
            p На свадьбе светлость Ан настоял на такой человечности. Дружелюбный холостяцкий вход. Как поставить невозможное.
        li
            h3 Образование
            p На свадьбе светлость Ан настоял на такой человечности. Дружелюбный холостяцкий вход. Как поставить невозможное.
    .big-card__light-right 
        include ../../../assets/img/svg/light/card-left.svg
                
