.future-block
    .future-block__light 
        include ../../../assets/img/svg/light/future.svg
    .future-block__title 
        h2 Будущее Уже наступило<br>и Тебе Нужно Лишь<br>Осознать. Шагни в<br>Будущее и Воплоти Его.
        a(href="#")  Запросить ранний доступ
    .future-block__info
        .future-block__info-item
            h4 Мгновенное улучшение ситуации с недоверием
            p From they fine john he give of rich he. They age and draw mrs like. Improving end distrusts may instantly was household applauded.
        .future-block__info-item
            h4 Станьте активным человеком
            p Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to.
        .future-block__info-item
            h4 Сообщение или я ничего
            p Led ask possible mistress relation elegance eat likewise debating. By message or am nothing amongst chiefly address.
        .future-block__info-item
            h4 Действительно мальчик, округ закона
            p Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush.