header.header(data-header)
    .header__inner.container
        .header__main
            +logo.header__logo
            nav 
                ul 
                    li 
                        a(href="#") Главная
                    li 
                        a(href="#") Что такое GPT?
                    li 
                        a(href="#") Open AI
                    li 
                        a(href="#") Кейсы
                    li 
                        a(href="#") Библиотека

        .header__buttons 
            +btn({
                text: 'Войти'
            })(data-modal-open="login").btn
            +btn({
                text: 'Регистрация'
            })(data-modal-open="login").btn.btn--orange
            .header__menu(data-modal-open="login")
                +svg('menu')