header.header
    .header__inner.container
        +logo.header__logo
        +select({
            name: 'city',
            placeholder: 'Выберите город',
            checked: true,
            options: [
                {
                    value: 'Санкт-Петербург',
                    innerHTML: `Санкт-Петербург`,
                    checked: true,
                    id: 1,
                },
                {
                    value: 'Архангельск',
                    innerHTML: `Архангельск`,
                    id: 2,
                },
                {
                    value: 'Сыктывкар',
                    innerHTML: `Сыктывкар`,
                    id: 3,
                },
            ]
        }).select--common
        +socials().header__socils
