mixin socials()
    .socials&attributes(attributes)
        each link in ['vk', 'f'] 
            +btn({
                isLink: true,
                icon: link
            })(target="_blank", rel="noopener noreferrer").btn--icon.socials__link
