.companies
    .companies__item 
        img(src="../../assets/img/companies/google.png", alt="google")
    .companies__item 
        img(src="../../assets/img/companies/slack.png", alt="google")
    .companies__item 
        img(src="../../assets/img/companies/atlassian.png", alt="google")
    .companies__item 
        img(src="../../assets/img/companies/dropbox.png", alt="google")
    .companies__item 
        img(src="../../assets/img/companies/shopify.png", alt="google")