.blog.container
    h1 Многое Происходит,<br>Мы Ведем об Этом Блог.
    .blog__body 
        .blog__item.blog__item--big
            +blog-item({
                date: 'Сент 26, 2021',
                title: 'GPT-3 и Openai – это будущее. Давайте разберемся, как это?',
                img: 'b1.png'
            })
        .blog__item
            +blog-item({
                date: 'Сент 26, 2021',
                title: 'GPT-3 и Openai – это будущее. Давайте разберемся, как это?',
                img: 'b2.png'
            })
        .blog__item
            +blog-item({
                date: 'Сент 26, 2021',
                title: 'GPT-3 и Openai – это будущее. Давайте разберемся, как это?',
                img: 'b3.png'
            })
        .blog__item
            +blog-item({
                date: 'Сент 26, 2021',
                title: 'GPT-3 и Openai – это будущее. Давайте разберемся, как это?',
                img: 'b4.png'
            })
        .blog__item
            +blog-item({
                date: 'Сент 26, 2021',
                title: 'GPT-3 и Openai – это будущее. Давайте разберемся, как это?',
                img: 'b5.png'
            })