extends ../templates/template.pug
block content
    .u-flex-col.u-ais
        include ../blocks/includes/hero/hero.pug
        include ../blocks/includes/companies/companies.pug
        include ../blocks/includes/big-card/big-card.pug
        include ../blocks/includes/future-block/future-block.pug
        include ../blocks/includes/app-block/app-block.pug
        include ../blocks/includes/register-block/register-block.pug
        include ../blocks/includes/blog/blog.pug
        include ../blocks/includes/early-access/early-access.pug

        