extends ../templates/template.pug
block content
    .container.u-flex-col.u-ais
        include ../blocks/includes/hero/hero.pug
        include ../blocks/includes/companies/companies.pug
        include ../blocks/includes/big-card/big-card.pug
        include ../blocks/includes/future-block/future-block.pug

        